.gallery__card-btn {
    border: none;
    background-color: white;
    justify-self: end;
    padding: 0;
    margin: 30px 20px 30px 0;
    align-self: center;
}

.gallery__card-btn:hover {
    opacity: 0.5;
}